.card-side{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
    .my-card{
        width:250px;
        max-width:100%;
        height:250px;
        max-height:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px gray;
    }
}